<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group-name">
            <label for="nickname">이름</label>
            <input type="text" id="nickname" name="nickname" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group-email">
            <label for="email">메일</label>
            <input type="text" id="email" name="email" placeholder="메일을 입력하세요">
        </div>
        <div class="form-group-subscription">
            <label for="subscription">구독</label>
            <input type="checkbox" checked id="subscription" name="subscription" placeholder="구독하시겠습니까?">
        </div>


        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</body>
</html>